@import "tailwindcss";

/* ==========================================================================
   CUSTOM SCROLLBAR (Adattata al tema Dark/Zinc)
   ========================================================================== */

/* 1. Stile per Firefox (Standard moderno) */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent; /* Colore levetta (zinc-700) e binario trasparente */
}

/* 2. Stile per Chrome, Edge, Safari, Opera (Motore Webkit) */
::-webkit-scrollbar {
  width: 6px; /* Rende la barra molto sottile ed elegante */
}

::-webkit-scrollbar-track {
  background: transparent; /* Nasconde il "binario" di scorrimento */
  margin-block: 10px; /* Crea un po' di respiro in alto e in basso */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* Colore zinc-700 di Tailwind */
  border-radius: 10px; /* Arrotonda perfettamente la levetta */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* Colore zinc-600: Si illumina quando ci passi sopra col mouse */
}